__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json

.vs/
.tmp/
.tmp*/
.tmp*
bin/
decomp/
buildstage/
dumps/
out/
output/
dependencies/zlib-1.2.3/**/*
dependencies/LuaPlus_Build1081/**/*
dependencies/boost_1_34_1/**/*
dependencies/wxWindows-2.4.2/**/*
*.pdb
*.log
*.obj

AGENTS.md
CLAUDE.md
mcp/
skills/

.github/copilot-instructions.md
.github/instructions/**/*

_WIP/
_coord/
_coord
